<div class="container">

    <section>
        <div style="margin-left: 1%;">
            <img src="assets/images/basicLogo/hurrey_podcast_logo.svg" alt="hurrey logo" class="hurreyLogo">
        </div>

        <div class="search-area">
            <input type="text" placeholder="SEARCH" class="searchBox" [(ngModel)]="searchText"
                (keyup)="filterText(searchTerms, searchText)">
            <img src="assets/images/basicLogo/search_logo.svg" alt="searchLogo" class="searchLogo">
            <img src="assets/images/basicLogo/mic_logo.svg" alt="micLogo" class="micLogo">

            <div>
                <button class="btn btn-danger btn-sm smallBtn m-3">Shots</button>
                <button class="btn btn-sm smallBtn m-3" style="background: #ffefc5;">Creators</button>
                <button class="btn btn-sm smallBtn m-3" style="background: #ffefc5;">Projects</button>
            </div>
            <div *ngFor="let searchResult of displaySearchResult">
                <div class="card" style="z-index: 2;" *ngIf="searchText">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {{searchResult | lowercase}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 5rem;">
        <div>
            <button class="btn btn-danger btnBorderRadius" style="margin-left: 1%">
                {{categories[0]}}
            </button>
        </div>

        <div class="flex-container horizonScroll" style="margin-top: -8px;margin-left: -18px;">
            <div *ngFor="let podcast of podcasts">
                <div>
                    <div class="card singleCard zoom">
                        <img class="card-img-top imageHeight" [src]="podcast.image" alt="Card image cap">
                        <div class="card-text" style="margin-top: 5%; margin-left: 1%;">
                            <div style="font-size: 16px; font-family: Quicksand-Bold;">
                                {{podcast.title | titlecase}}
                            </div>
                            <div style="font-size: 12px;">
                                <img src="assets/images/basicLogo/clock_logo.svg" alt="" style="width: 12%;">
                                {{podcast.duration}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 5rem;">
        <div>
            <button class="btn btn-danger btnBorderRadius" style="margin-left: 1%">
                {{categories[1]}}
            </button>
        </div>

        <div class="flex-container horizonScroll" style="margin-top: -8px;margin-left: -18px;">
            <div *ngFor="let podcast of podcasts">
                <div>
                    <div class="card singleCard zoom">
                        <img class="card-img-top imageHeight" [src]="podcast.image" alt="Card image cap">
                        <div class="card-text" style="margin-top: 5%; margin-left: 1%;">
                            <div style="font-size: 16px; font-family: Quicksand-Bold;">{{podcast.title | titlecase}}
                            </div>
                            <div style="font-size: 12px;">{{podcast.duration}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 5rem;">
        <div>
            <button class="btn btn-danger btnBorderRadius" style="margin-left: 1%">
                {{categories[2]}}
            </button>
        </div>

        <div class="flex-container horizonScroll" style="margin-top: -8px;margin-left: -18px;">
            <div *ngFor="let podcast of podcasts">
                <div>
                    <div class="card singleCard zoom">
                        <img class="card-img-top imageHeight" [src]="podcast.image" alt="Card image cap">
                        <div class="card-text" style="margin-top: 5%; margin-left: 1%;">
                            <div style="font-size: 16px; font-family: Quicksand-Bold;">{{podcast.title | titlecase}}
                            </div>
                            <div style="font-size: 12px;">{{podcast.duration}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <section class="mt-5">
        <div>
            <button class="btn btn-danger btnBorderRadius">
                {{categories[0]}}
            </button>
        </div>
        <div class="test">
            <div class="pull-left mt-sm leftScroll">
                <i class="fa fa-angle-left" style="font-size:36px" (click)="scrollLeft()"></i>
            </div>
            <div class="pull-right mt-sm rightScroll">
                <i class=" fa fa-angle-right" style="font-size:36px" (click)="scrollRight()"></i>
            </div>
        </div>

        <div class="flex-container horizonScroll custom-slider-main" #widgetsContent style="margin-top: 1%;">
            <div *ngFor="let podcast of podcasts">
                <div>
                    <div class="card singleCard zoom">
                        <img class="card-img-top imageHeight" [src]="podcast.image" alt="Card image cap">
                        <p class="card-text m-2" style="font-size: 12px;">
                            {{podcast.title}} | {{podcast.duration}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <div>
            <button class="btn btn-danger btnBorderRadius">
                {{categories[1]}}
            </button>
        </div>
        <div class="test">
            <div class="pull-left mt-sm leftScroll">
                <i class="fa fa-angle-left" style="font-size:36px" (click)="scrollLeft()"></i>
            </div>
            <div class="pull-right mt-sm rightScroll">
                <i class=" fa fa-angle-right" style="font-size:36px" (click)="scrollRight()"></i>
            </div>
        </div>

        <div class="flex-container horizonScroll custom-slider-main" #widgetsContent2 style="margin-top: 1%;">
            <div *ngFor="let podcast of podcasts">
                <div>
                    <div class="card singleCard zoom">
                        <img class="card-img-top imageHeight" [src]="podcast.image" alt="Card image cap">
                        <p class="card-text m-2" style="font-size: 12px;">
                            {{podcast.title}} | {{podcast.releaseYear}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <div>
            <button class="btn btn-danger btnBorderRadius">
                {{categories[2]}}
            </button>
        </div>
        <div class="test">
            <div class="pull-left mt-sm leftScroll">
                <i class="fa fa-angle-left" style="font-size:36px" (click)="scrollLeft()"></i>
            </div>
            <div class="pull-right mt-sm rightScroll">
                <i class=" fa fa-angle-right" style="font-size:36px" (click)="scrollRight()"></i>
            </div>
        </div>

        <div class="flex-container horizonScroll custom-slider-main" #widgetsContent3 style="margin-top: 1%;">
            <div *ngFor="let podcast of podcasts">
                <div>
                    <div class="card singleCard zoom">
                        <img class="card-img-top imageHeight" [src]="podcast.image" alt="Card image cap">
                        <p class="card-text m-2" style="font-size: 12px;">
                            {{podcast.title}} | {{podcast.releaseYear}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>